{# Template pour l'index #}
{% extends "base.jinja" %}

{% block contenu %}
    <div class="p-2 d-flex">
    <div class="row">
    {% for i in objets_recuperer %}
        <div class="card border border-warning align-items-stretch mx-2 mb-4 p-3 col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
            <img src="{{ src }}{{ i.photo }}" class="card-img-top w-100" alt="{{ alt_image_article }}">
            <div class="card-body">
                <h2 class="card-title">
                    {{ i.titre }}
                </h2>
                <h4 class="card-subtitle mb-2 text-muted">
                    {{ i.categorie_description }}
                </h4>
                <p class="card-text">
                    {{ i.description }}
                </p>
                <form action="/details" method="POST">
                    <input type="hidden" name="objet_choisi" value="{{ i.id }}"/>
                    <button type="submit" class="btn btn-primary">Détails</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}