
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<head>
    <title>{% if titre_onglet %} {{titre_onglet}} | {% endif %} Ebaie</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <div class="container-fluid">
                <h1 class="navbar-brand" href="#">SCP Foundation</h1>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for page in routes %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{page.route}}">{{page.nom}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <main style="margin-top: 150px;">
        <h2>{{titre_h2}}</h2>
        {% block contenu %}
            <div>
                <img src="" alt="">
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        {% endblock %}

    </main>

    <footer>
            <p>Pierre-Olivier Cadeau</p>
            <p>© copyright</p>
    </footer>

</body>

</html>