{% extends "base.jinja" %}

{% block contenu %}
<div class="card" style="width: 18rem;">
        <img src="{{ src_image_article }}" class="card-img-top" alt="{{ alt_image_article }}">
        <div class="card-body">
            <h3 class="card-title">
                {{ titre_h3 }}
            </h3>
            <h4 class="card-subtitle mb-2 text-muted">
                {{ sous_titre }}
            </h4>
            <p class="card-text">
                {{ message }}
            </p>
            <a href="{{ details }}" class="btn btn-primary">Détails</a>
        </div>
    </div>
{% endblock %}