{# Template pour l'index #}
{% extends "base.jinja" %}

{% block contenu %}
        <form action="#" method="post" enctype="multipart/form-data" novalidate>
                <div>
                    <label for="titre" class="form-label">Titre:</label>
                    <input type="text" class="form-control" name="titre" id="titre" />
                </div>
                <div>
                    <label for="description" class="form-label" >Description:</label>
                    <textarea id="description" class="form-control" name="description" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="categorie" class="form-label">Note obtenue avec ce travail:</label>
                    <select name="categorie" class="form-select" id="categorie">
                        <option value="Occasion">Occasion</option>
                        <option value="Presque neuf">Presque neuf</option>
                        <option value="Neuf">Neuf</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label for="image" class="input-group-text">Image:</label>
                    <input type="file" class="form-control" name="image" id="image"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
        </form>

{% endblock %}