{# Template pour l'index #}
{% extends "base.jinja" %}

{% block contenu %}
        <h2>Ajout d'un produit</h2>
        <form action="#" method="post">
                <div>
                    <label for="titre">Titre:</label>
                    <input type="text" name="titre" id="titre" />
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="categorie">Note obtenue avec ce travail:</label>
                    <select name="categorie" id="categorie">
                        <option value="Occasion">Occasion</option>
                        <option value="Presque neuf">Presque neuf</option>
                        <option value="Neuf">Neuf</option>
                    </select>
                </div>
                <div>
                    <label for="image">Image:</label>
                    <input type="file" name="image" id="image" accept="image/png, image/jpeg"/>
                </div>
                <div>
                    <button type="submit">Envoyer</button>
                </div>
        </form>

{% endblock %}