{# Template pour l'index #}
{% extends "base.jinja" %}

{% block contenu %}
        <form action="#" class="container-fluid" method="post" enctype="multipart/form-data" novalidate>
            <div class="row">
                <div class="col-12 mb-4">
                    <label for="titre" class="form-label">Titre:</label>
                    <input type="text" class="form-control" name="titre" id="titre"  value="{{objets_recuperer.titre}}" />
                </div>
                <div class="col-12 mb-4">
                    <label for="description" class="form-label" >Description:</label>
                    <textarea id="description" class="form-control" name="description" cols="30" rows="10">{{objets_recuperer.description}}</textarea>
                </div>
                <div class="col-12 mb-4">
                    <label for="categorie" class="form-label">État de l'article a vendre:</label>
                    <select name="categorie" class="form-select" id="categorie">
                        <option value="Occasion">Occasion</option>
                        <option value="Presque neuf">Presque neuf</option>
                        <option value="Neuf">Neuf</option>
                    </select>
                </div>
                <div class="input-group col-12 mb-4">
                    <label for="image" class="input-group-text">Image:</label>
                    <input type="file" class="form-control" name="image" id="image"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </form>

{% endblock %}