{% extends "base.jinja" %}

{% block contenu %}
    <div>
        <div>
            <h3>
                {{ titre_h3 }}
            </h3>
            <p>
                {{ message }}
            </p>
        </div>
    </div>
{% endblock %}