{% extends "base.jinja" %}

{% block contenu %}
    <div>
        <div>
            <h2>
                {{ titre_h3 }}
            </h2>
            <p class="alert {{ alerte }}" role="alert">
                {{ message }}
            </p>
        </div>
    </div>
{% endblock %}